{{ $id := lower (urlize (.Get 0)) }}
{{ $animal := index .Site.Data.animals $id }}
<div class="notices animal" id="{{ $id }}">
  <p></p>
  <h3>{{ $animal.Name }}</h3>
  <div>
    <h4>Characteristics:</h4>
    <ul>
      {{ range $animal.Characteristics}}
        {{ range $key, $value := .}}
          {{$parsed := split $value " "}}
          {{ $.Scratch.Set "average" 0}}
          {{ if findRE "(d|D)" (index $parsed 0)}}
            {{ $dice_info := split (lower (index $parsed 0)) "d"}}
            {{ $count := int (index $dice_info 0) }}
            {{ $faces := int (index $dice_info 1) }}
            {{ $.Scratch.Add "average" (math.Round (mul $count (add (div $faces 2) 0.5))) }}
          {{ else }}
            {{ $.Scratch.Add "average" (int $value)}}
          {{ end }}
          {{ $average := $.Scratch.Get "average" }}
          {{ if eq (index $parsed 1) "+"}}
            {{ $.Scratch.Add "average" (int (index $parsed 2))}}
          {{ else if eq (index $parsed 1) "-"}}
            {{ $.Scratch.Add "average" (mul -1 (int (index $parsed 2)))}}
          {{ end }}
          {{ $average := $.Scratch.Get "average"}}
          {{ $.Scratch.SetInMap "Characteristics" $key $average}}
          <li><strong>{{ $key }}:</strong> {{ $value}} ({{ mul 3 $average}}%)</li>
        {{ end }}
      {{ end }}
      {{$characteristics := $.Scratch.Get "Characteristics"}}
    </ul>
  </div>
  <div>
    <h4>Attributes:</h4>
    <ul>
      <li><strong>HP:</strong>{{div (add $characteristics.Body $characteristics.Power) 2}}</li>
      <li><strong>PP:</strong>{{ $characteristics.Power }}</li>
    </ul>
  </div>
  <div>
    <h4>Combat:</h4>
    <ul>
      {{ range $animal.Combat }}
      {{ range $type, $pairs := . }}
      <li>
        {{ $type }}: {{ index (index $pairs 0) "Score" }}
        <ul>
          {{ range $pairs }}
          {{ range $key, $value := . }}
          {{ if ne (lower $key) "score" }}<li><strong>{{ $key }}:</strong> {{ $value }} </li> {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
