{{ range (sort $.Site.Data.characters "Name" "asc") }}
<div class="notices character">
  <p></p>
  <h3 id="disease-{{ lower (urlize .Name) }}">{{ .Name }}</h3>
  <p><em>{{ .Description }}</em></p>
  <ul class="character">
    <li>
      <h5>Characteristics</h5> 
      <ul>
          {{ range $key, $value := .Characteristics }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }} ({{ mul $value 3}}%)
          </li>
          {{ end }}
      </ul>
    </li>
    <li>
      <h5>Attributes</h5>
      <ul>
          {{ range $key, $value := .Attributes }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}
          </li>
          {{ end }}
      </ul>
    </li>
    {{ if (ne nil (index  "Vocations"))}}
    <li>
      <h5>Vocations</h5>
      <ul>
          {{ range $key, $value := .Vocations }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ if (ne nil (index  "Reputations"))}}
    <li>
      <h5>Reputations</h5>
      <ul>
          {{ range $key, $value := .Reputations }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ if (ne nil (index  "Relationships"))}}
    <li>
      <h5>Relationships</h5>
      <ul>
          {{ range $key, $value := .Relationships }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    <li>
      <h5>Skills</h5>
      <ul>
          {{ range $key, $value := .Skills }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
  </ul>
  <table>
    <tr>
      <th>Knack</th>
      <th>Magnitude</th>
      <th>Traits</th>
      <th>Description</th>
    </tr>
    {{ range $key, $value := .Knacks }}
    {{ $id := lower (urlize $key)}}
    {{ if (gt (len (findRE "^detect-\\S+" $id)) 0)}}
      {{ $.Scratch.Set "knack" (index $.Site.Data.knacks "detect") }}
    {{ else }}
    {{ $.Scratch.Set "knack" (index $.Site.Data.knacks $id) }}
    {{ end }}
    <tr>
      <td><strong>{{$key}}</strong></td>
      <td>{{$value}}</td>
      <td>{{delimit ($.Scratch.Get "knack").Traits ", "}}</td>
      <td>{{ ($.Scratch.Get "knack").Short }}</td>
    </tr>  
    {{ end }}
  </table>
</div>
{{ end }}