{{ $id := lower (urlize (.Get 0)) }}
{{ $character := index .Site.Data.characters $id }}
<div class="notices character">
  <p></p>
  <h3 id="disease-{{ lower (urlize $character.Name) }}">{{ $character.Name }}</h3>
  <p><em>{{ $character.Description }}</em></p>
  <ul class="character">
    <li>
      <h5>Characteristics</h5>
      <ul>
          {{ range $key, $value := $character.Characteristics }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }} ({{ mul $value 3}}%)
          </li>
          {{ end }}
      </ul>
    </li>
    <li>
      <h5>Attributes</h5>
      <ul>
          {{ range $key, $value := $character.Attributes }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}
          </li>
          {{ end }}
      </ul>
    </li>
    {{ if (ne nil (index $character "Vocations"))}}
    <li>
      <h5>Vocations</h5>
      <ul>
          {{ range $key, $value := $character.Vocations }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ if (ne nil (index $character "Reputations"))}}
    <li>
      <h5>Reputations</h5>
      <ul>
          {{ range $key, $value := $character.Reputations }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ if (ne nil (index $character "Relationships"))}}
    <li>
      <h5>Relationships</h5>
      <ul>
          {{ range $key, $value := $character.Relationships }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    <li>
      <h5>Skills</h5>
      <ul>
          {{ range $key, $value := $character.Skills }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
  </ul>
  <table>
    <tr>
      <th>Knack</th>
      <th>Magnitude</th>
      <th>Traits</th>
      <th>Description</th>
    </tr>
    {{ range $key, $value := $character.Knacks }}
    {{ $id := lower (urlize $key)}}
    {{ if (gt (len (findRE "^detect-\\S+" $id)) 0)}}
      {{ $.Scratch.Set "knack" (index $.Site.Data.knacks "detect") }}
    {{ else }}
    {{ $.Scratch.Set "knack" (index $.Site.Data.knacks $id) }}
    {{ end }}
    <tr>
      <td><strong>{{$key}}</strong></td>
      <td>{{$value}}</td>
      <td>{{delimit ($.Scratch.Get "knack").Traits ", "}}</td>
      <td>{{ ($.Scratch.Get "knack").Short }}</td>
    </tr>  
    {{ end }}
  </table>
</div>