{{ $id := lower (urlize (.Get 0)) }}
{{ $disease := index .Site.Data.diseases $id }}
<div class="notices disease" id="{{ $id }}">
  <p></p>
  <h3 id="disease-{{ $id }}">{{ $disease.Name }}</h3>
  <p><em>{{ $disease.Description }}</em></p>
  <ul>
    <li><strong>Type:</strong> {{ $disease.Type }}</li>
    <li><strong>Delay:</strong> {{ $disease.Delay }}</li>
    <li><strong>Potency:</strong> {{ $disease.Potency }}</li>
    <li><strong>Effect:</strong> {{ $disease.Effect }}</li>
  </ul>
</div>
