{{ $linkify := .Get "linkify" }}
<table>
  <thead>
    <th>Disease</th>
    <th>Type</th>
    <th>Delay</th>
    <th>Potency</th>
    <th>Effect</th>
  </thead>
  {{ range $disease := (sort $.Site.Data.diseases "Name" "asc") }}
  {{ if ne .Name "Disease Name" }}
  <tr>
    {{ if eq (lower $linkify) "true"}}
    <td><a href="#disease-{{lower (urlize .Name)}}">{{ .Name }}</a></td>
    {{ else }}
    <td>{{ .Name }}</td>
    {{ end }}
    <td style="text-align:center" >{{ .Type }}</td>
    <td style="text-align:center" >{{ .Delay }}</td>
    <td style="text-align:center" >{{ .Potency }}</td>
    <td>{{ .Short }}</td>
  </tr>
  {{ end }}
  {{ end }}
</table>

{{ range (sort $.Site.Data.diseases "Name" "asc") }}
{{ if ne .Name "Disease Name" }}
<div class="notices disease">
  <p></p>
  <h3 id="disease-{{ lower (urlize .Name) }}">{{ .Name }}</h3>
  <p><em>{{ .Description }}</em></p>
  <ul>
    <li><strong>Type:</strong> {{ .Type }}</li>
    <li><strong>Delay:</strong> {{ .Delay }}</li>
    <li><strong>Potency:</strong> {{ .Potency }}</li>
    <li><strong>Effect:</strong> {{ .Effect }}</li>
  </ul>
</div>
{{ end }}
{{ end }}
