<div class="notices example" id="example-{{ lower (urlize (.Get 0)) }}">
	<div class="expand">
			<p></p>
			<div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fa fa-chevron-down' : 'fa fa-chevron-right';});});">
					<i style="font-size:x-small;" class="fa fa-chevron-right"></i>
					<span>
					{{ title (.Get 0) }}
					</span>
			</div>
			<div class="expand-content" style="display: none;">
{{.Inner | safeHTML}}
			</div>
	</div>
</div>