{{ $id := lower (urlize (.Get 0)) }}
{{ $knack := index .Site.Data.knacks $id }}
<div class="notices knack">
  <p></p>
  <h3 id="knack-{{lower (urlize $knack.Name)}}">{{ $knack.Name }}</h3>
  {{ $has_traits := gt (len $knack.Traits) 0 }}
  {{ $trait_not_null := ne (index $knack.Traits 0) nil }}
  {{ $display_traits := and $has_traits $trait_not_null}}
  {{ if $display_traits }}
  <p class="knack-traits"><strong>Traits: </strong><em>{{ delimit $knack.Traits ", " }}</em></p>
  {{ else }}
  <p class="knack-traits"><strong>Traits: </strong><em>None</em></p>
  {{ end }}
  {{ $knack.Effect | markdownify }}
</div>
