{{ $linkify := .Get "linkify" }}
<table>
  <thead>
    <th>Knack</th>
    <th>Traits</th>
    <th>Effect</th>
  </thead>
  {{ range $knack := (sort $.Site.Data.knacks "Name" "asc") }}
  {{ if and (ne .Name "Knack Name") (or (in .Tags "core") (in .Tags "Core") ) }}
  <tr>
    {{ if eq (lower $linkify) "true"}}
    <td><a href="#knack-{{lower (urlize .Name)}}">{{ .Name }}</a></td>
    {{ else }}
    <td>{{ .Name }}</td>
    {{ end }}
    <td style="text-align:center" >{{ delimit .Traits ", " }}</td>
    <td>{{ .Short }}</td>
  </tr>
  {{ end }}
  {{ end }}
</table>

{{ range (sort $.Site.Data.knacks "Name" "asc") }}
{{ if and (ne .Name "Knack Name") (or (in .Tags "core") (in .Tags "Core") ) }}
<div class="notices knack">
  <p></p>
  <h3 id="knack-{{lower (urlize .Name)}}">{{ .Name }}</h3>
  {{ $has_traits := gt (len .Traits) 0 }}
  {{ $trait_not_null := ne (index .Traits 0) nil }}
  {{ $display_traits := and $has_traits $trait_not_null}}
  {{ if $display_traits }}
  <p class="knack-traits"><strong>Traits: </strong><em>{{ delimit .Traits ", " }}</em></p>
  {{ else }}
  <p class="knack-traits"><strong>Traits: </strong><em>None</em></p>
  {{ end }}
  <p>{{ markdownify .Effect }}</p>
</div>
{{ end }}
{{ end }}