{{ $linkify := .Get "linkify" }}
<table>
  <thead>
    <th>Poison</th>
    <th>Type</th>
    <th>Delay</th>
    <th>Potency</th>
    <th>Effect</th>
  </thead>
  {{ range $poison := (sort $.Site.Data.poisons "Name" "asc") }}
  {{ if ne .Name "Poison Name" }}
  <tr>
    {{ if eq (lower $linkify) "true"}}
    <td><a href="#poison-{{lower (urlize .Name)}}">{{ .Name }}</a></td>
    {{ else }}
    <td>{{ .Name }}</td>
    {{ end }}
    <td style="text-align:center" >{{ .Type }}</td>
    <td style="text-align:center" >{{ .Delay }}</td>
    <td style="text-align:center" >{{ .Potency }}</td>
    <td>{{ .Short }}</td>
  </tr>
  {{ end }}
  {{ end }}
</table>

{{ range (sort $.Site.Data.poisons "Name" "asc") }}
{{ if ne .Name "Poison Name" }}
<div class="notices poison">
  <p></p>
  <h3 id="poison-{{ lower (urlize .Name) }}">{{ .Name }}</h3>
  <p><em>{{ .Description }}</em></p>
  <ul>
    <li><strong>Delay:</strong> {{ .Delay }}</li>
    <li><strong>Duration:</strong> {{ .Duration }}</li>
    <li><strong>Potency:</strong> {{ .Potency }}</li>
    <li><strong>Effect:</strong> {{ .Effect }}</li>
  </ul>
</div>
{{ end }}
{{ end }}
